@use "./main.scss";

.header {
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  .reset_text {
    margin-bottom: 4px;
  }
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: main.$md_text;
  height: 60px;
  color: white;
  background: main.$error;
}
