$xs-text: 8pt;
$sm-text: 10pt;
$md-text: 14pt;
$mdlg-text: 18pt;
$lg-text: 20pt;
$xl-text: 26pt;
$xll-text: 34pt;

$light-weight: 300;
$regular-weight: 500;
$heavy-weight: 700;

$border-radius: 10px;
$box-shadow: 0px 0px 16px rgb(0, 0, 0, 0.25);
$font-stack: montserrat, sans-serif;

$text-primary: #363c49;
$text-secondary: #707070;
$text-accent: #c3c3c3;
$body: #f5f5f5;
$main: #9aa7f5;
$error: #f74d51;
$success: #00db5d;
